@import "tailwindcss";
.container{
  max-width: 1320px;
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}
.btn{
  padding: 8px 15px;
  font-size: 20px;
  background-color: #4640DE;
  margin: 0 10px;
  color: #fff;
}
.login-btn{
  background-color: #f0f0f0;
  color: #4640DE;
}
.heading h1{
  font: medium;
  font-size: 65px;
  font-weight: 700;
}
.search-btn input{
  /* border-bottom: 3px solid #f0f0f0 ; */
  text-decoration: solid;
}
.search{
  font-size: 23px;
  font-weight: lighter;
  padding: 0 10px;
}
.brand.img{
  font-size: 40px;
  height: 40px;
  margin-top: 20px;
}
.cart{
  padding: 32px;
  border: 1px solid gray;
}
.cart:hover{
  background: #4640de;
  color: #fff;
}
.cart:hover img{
  background: #ffffff;
  /* color: #ffffff; */
}
.dashboard{
   width: 100%;
   clip-path: polygon(
    60px 0%,        /* top-left cut */
    100% 0%, 
    100% calc(100% - 60px), 
    calc(100% - 60px) 100%,  /* bottom-right cut */
    0% 100%, 
    0% 60px
  );
}
.dashboard-btn{
  background: #fff;
  color: #4640de;
  margin: 15px 0;
  font-weight: 600;
}
.location-title li{
  list-style-type: disc;
}
.location-title li::marker{
  color: rgb(206, 202, 202);
  font-size: 16px;
  
}